@charset "utf-8";
@use "mq" as *;
@forward "common";

// ヘッダー
.container {
  width: 84%;
  margin: 0 auto;

  @include mq(pc) {
    width: 91%;
    max-width: 1240px;
  }
}
.header {
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;

    @include mq(pc) {
      height: 100px;
    }
  }
}

// サイト名
.site {
  display: flex;
  align-items: center;

  & img {
    width: 42px;
    margin-right: 10px;

    @include mq() {
      width: 59px;
      margin-right: 18px;
    }
  }

  & .corp {
    color: #333333;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;

    @include mq() {
      font-size: 20px;
    }
  }

  & .desc {
    color: #707f89;
    font-size: 10px;
    line-height: 1.4;
    @include mq() {
      font-size: 12px;
    }
  }
}

// ナビゲーション
.nav-button {
  box-sizing: content-box;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 20px;
  height: 14px;
  cursor: pointer;
  color: #2e5180;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
  }

  &::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
  }
}

// ヒーローエリア
.hero {
  height: 400px;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  @include mq(pc) {
    height: 700px;
  }

  & img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
  }

  & .catch {
    flex: auto;
    align-self: flex-end;
    padding: 33px 0;
    background-color: rgba(255, 255, 255, 0.76);

    @include mq(pc) {
      padding: 47px 0 44px;
    }
  }

  & .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    line-height: 1.3;
  }

  & p {
    font-size: 14px;
    color: #2e5180;
    margin-bottom: 15px;

    @include mq(pc) {
      font-size: 16px;
      margin-bottom: 22px;
    }
  }
}

// ヒーロー IE対応
@media (-ms-high-contrast: none), not all and (-ms-high-contrast: none) {
  .hero .img {
    width: calc((100vh - 17px) * 0.84);
    max-width: 637.78px;
  }
}

// メッセージセクション
.message {
  background-color: #2e5180;
  color: #fff;
  padding: 67px 0;

  & h2 {
    font-size: 24px;
    line-height: 1.67;
    text-align: center;
    margin-bottom: 38px;
  }

  & p {
    font-size: 14px;
    line-height: 1.86;
  }
}
